.jumbotron {
	padding-top: 1rem;
	background-color: #008B8B;


}
#project {
	background-color: #008B8B;	
}

#about {
	bottom: 10px;
}

@media screen and (max-width:680px) {
.iframe{
	width: 100%;
}
}

